<?xml version="1.0" encoding="utf-8" ?>
<beans>
<!--Servlet中设计的名字对应的是account,那么就要AccountController来处理    -->
    <bean id="accountDao" class="com.accountServlet.daoUpdate.AccountDaoImp"/>
    <bean id="accountService" class ="com.accountServlet.service.AccountServiceImp">
        <property name="accountDao" ref="accountDao"/>
    </bean>
    <bean id="account" class="com.controllers.AccountController">
        <property name="accountService" ref="accountService"/>
    </bean>
</beans>